@import "../_colors.scss";

.banner {
  padding-top: 6rem;
  width: 100%;
  height: 100vh;
  background: url(/assets/images/concert-photo.jpg);
  background-size: cover;
  position: relative;
  & > div {
    padding: 2.5rem;
    position: absolute;
    right: 0;
    bottom: 10rem;
    text-shadow: 10px 10px 20px #000;
    text-align: right;
  }
  h1 {
    margin-bottom: 1rem;
  }
}

.float {
  border-radius: 1rem 0 0 0;
  position: absolute;
  top: calc(100% - 6rem);
  width: 800px;
  max-width: 100%;
  height: 100%;
  background-color: $color-bg;
  right: 0;
  padding: 1rem;
}
