<link rel="stylesheet" href="/components/navigation/navigation.css" />
<header>
  <nav>
    <div class="mobile-nav">
      <div class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">123</a></li>
      <li><a href="#">123</a></li>
      <li><a href="#">123</a></li>
      <li><a href="#">123</a></li>
      <li><a href="#">123</a></li>
    </ul>
    <a class="search-icon" href="#"
      >search <i class="material-icons">search</i></a
    >
  </nav>
</header>
