<link rel="stylesheet" href="/components/navigation/navigation.css" />
<header>
  <div class="mobile-nav">
    <span>Mape</span>
    <div
      onclick="toggleBurger()"
      id="burger"
      class="hamburger hamburger--collapse"
      type="button"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">123</a></li>
      <li><a href="#">123</a></li>
    </ul>
    <span id="search-icon" tabindex="0">
      <div>
        <span>search</span>
        <input type="text" name="search" id="search" />
      </div>
      <i class="material-icons">search</i></span
    >
  </nav>
</header>
<script src="/components/navigation/hamburger.js"></script>
