@import "../../styles/_colors.scss";

nav {
  padding: 1rem;
  color: $color-fg;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;

    li {
      list-style-type: none;
      padding: 1rem;
      font-size: 1.5rem;
    }
  }

  a {
    color: $color-fg;
    text-decoration: none;
    &:hover {
      color: $color-fg-focus;
    }
  }

  i.material-icons {
    padding: 1rem;
    color: $color-fg;
    font-size: 2rem;
    &:hover {
      color: $color-fg-focus;
    }
  }
}
