@import "../../styles/_colors.scss";

.mobile-nav {
  padding: 1rem 2rem;
  color: $color-fg;
  display: none;
  font-size: 1.5rem;
  a {
    color: $color-fg;
    text-decoration: none;
    &:hover {
      color: $color-fg-focus;
    }
  }
}

nav {
  padding: 1rem;
  color: $color-fg;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  ul {
    display: flex;

    li {
      list-style-type: none;
      padding: 1rem;
    }
  }

  a {
    color: $color-fg;
    text-decoration: none;
    &:hover,
    &:hover i.material-icons {
      color: $color-fg-focus;
    }
  }
  .search-icon {
    display: flex;
    padding: 1rem;
    align-items: center;
    i.material-icons {
      padding-left: 1rem;
      color: $color-fg;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile-nav {
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    width: calc(100% - 2rem);
    background-color: $color-bg;
    top: 5.5rem;
    position: fixed;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: top;
    align-items: center;
    flex-direction: column;
    ul {
      order: 1;
      flex-direction: column;
      align-items: center;
    }
    & > a {
      order: 0;
    }
  }
  nav.is-active {
    transform: scaleY(1);
  }
}
