@import "_colors.scss";
@import "_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

body {
  background-color: $color-bg;
}

// @media screen and (max-width: 500px) {
//   html {
//     font-size: 10px;
//   }
// }

h1 {
  color: white;
  font-size: 4rem;
}

h2 {
  color: white;
  font-size: 2.5rem;
}

i.material-icons,
img {
  @include unselectable;
}
