@import "colors";
@keyframes up-down{
  from {
    transform: translateX(50%) translateY(0);
  }
  to {
    transform: translateX(50%) translateY(10px);
  }
}
.banner {
  padding-top: 6rem;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  & > div {
    padding: 2.5rem;
    position: absolute;
    right: 0;
    bottom: 5rem;
    text-shadow: 10px 10px 20px #000;
    text-align: right;
  }
  h1 {
    margin-bottom: 1rem;
  }

  i.material-icons {
    cursor: pointer;
    color: white;
    font-size: 5em;
    position: absolute;
    bottom: 3rem;
    right:50%;
    transform: translateX(50%);
    animation: up-down 1s alternate infinite;
    text-shadow: 5px 5px 5px $color-shadow;
  }
}

.lol {
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: $color-bg;
}

#up {
  cursor: pointer;
  position: fixed;
  color: $color-fg;
  background-color: $color-card-bg;
  padding: 1rem;
  border-radius: 5000px;
  font-size: 3em;
  bottom: 3rem;
  right: 3rem;
  box-shadow: 5px 5px 5px $color-shadow;
  opacity: 1;
  transition: all .2s;
  
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

#starred {
  width: 100%;
  display: flex;
  flex-direction: column;
  .card{
    width: 80%;
    height: 500px;

    margin-top: 3em;
    background-color: $color-card-bg;
    display:flex;
    color: $color-fg;
    border-radius: .5rem;
    flex-direction: row-reverse;
    span {
      height: 300px;
      padding: 1rem 2rem;
      font-size: 2rem;
      .name {
        padding: 0rem;
        font-size: 4rem;
      }
    }

    &:nth-child(2n) {
      align-self: flex-end;
      justify-content: flex-start;
      flex-direction: row;
    }
    img {
      border-radius: .5rem;
      width:350px;
      object-fit: cover;
    }
  }
}