header {
  z-index: 200;
  position: fixed;
  background-color: var(--color-bg);
  width: 100%;
  -webkit-box-shadow: 0 0.5rem 0.5rem var(--color-shadow);
          box-shadow: 0 0.5rem 0.5rem var(--color-shadow);
}

.mobile-nav {
  padding: 1rem 2rem;
  color: var(--color-fg);
  display: none;
  font-size: 1.5rem;
}

.mobile-nav a {
  color: var(--color-fg);
  text-decoration: none;
}

.mobile-nav a:hover {
  color: var(--color-fg-focus);
}

nav {
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
  padding: 1rem;
  color: var(--color-fg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding: 1rem;
}

nav a {
  color: var(--color-fg);
  text-decoration: none;
}

nav a:hover,
nav a:hover i.material-icons {
  color: var(--color-fg-focus);
}

nav a:focus {
  color: var(--color-primary);
  outline: none;
}

nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right i.material-icons {
  padding-right: 1rem;
  color: var(--color-fg);
  font-size: 2rem;
}

nav .right i.material-icons:hover {
  color: var(--color-fg-focus);
}

nav #search-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav #search-icon div {
  position: relative;
}

nav #search-icon div * {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

nav #search-icon:hover,
nav #search-icon:hover i.material-icons {
  color: var(--color-fg-focus);
}

nav #search-icon span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav #search-icon input {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0) translateY(50%);
          transform: scaleX(0) translateY(50%);
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-fg);
  color: var(--color-fg);
  font-size: 1rem;
  padding: 0.5rem;
}

nav #search-icon:focus span, nav #search-icon:focus-within span {
  -webkit-transform: scaleX(0) translateY(50%);
          transform: scaleX(0) translateY(50%);
}

nav #search-icon:focus input, nav #search-icon:focus-within input {
  -webkit-transform: scaleX(1) translateY(50%);
          transform: scaleX(1) translateY(50%);
}

nav #search-icon i.material-icons {
  padding-left: 1rem;
  color: var(--color-fg);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  nav {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .mobile-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav {
    width: 100%;
    background-color: var(--color-bg);
    top: 5.5rem;
    position: fixed;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav > a {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  nav.is-active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=navigation.css.map */