@import "../../styles/_colors.scss";

header {
  z-index: 200;
  position: fixed;
  background-color: $color-bg;
  width: 100%;
  box-shadow: 0 0.5rem 0.5rem $color-shadow;
}
.mobile-nav {
  padding: 1rem 2rem;
  color: $color-fg;
  display: none;
  font-size: 1.5rem;
  a {
    color: $color-fg;
    text-decoration: none;
    &:hover {
      color: $color-fg-focus;
    }
  }
}

nav {
  position: relative;
  transform-origin: top;
  padding: 1rem;
  color: $color-fg;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  ul {
    display: flex;

    li {
      list-style-type: none;
      padding: 1rem;
    }
  }

  a {
    color: $color-fg;
    text-decoration: none;
    &:hover,
    &:hover i.material-icons {
      color: $color-fg-focus;
    }

    &:focus {
      color: $color-primary;
      outline: none;
    }
  }

  .right {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    i.material-icons {
      padding-right: 1rem;
      color: $color-fg;
      font-size: 2rem;
      &:hover {
        color: $color-fg-focus;
      }
    }
  }
  #search-icon {
    align-self: flex-end;
    div {
      position: relative;
      * {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
      }
    }
    display: flex;
    padding: 1rem;
    align-items: center;
    cursor: pointer;
    &:hover,
    &:hover i.material-icons {
      color: $color-fg-focus;
    }
    span {
      transition: all 0.2s;
      transform-origin: right;
    }
    input {
      transition: all 0.2s;
      transform-origin: right;
      transform: scaleX(0) translateY(50%);
      background: none;
      border: none;
      border-bottom: 1px solid $color-fg;
      color: $color-fg;
      font-size: 1rem;
      padding: 0.5rem;
    }
    &:focus,
    &:focus-within {
      span {
        transform: scaleX(0) translateY(50%);
      }

      input {
        transform: scaleX(1) translateY(50%);
      }
    }
    i.material-icons {
      padding-left: 1rem;
      color: $color-fg;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 100%;
    justify-content: start;
  }
  .mobile-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    width: 100%;
    background-color: $color-bg;
    top: 5.5rem;
    position: fixed;
    transition: all 0.2s;
    transform: scaleY(0);
    align-items: center;
    flex-direction: column;
    ul {
      order: 1;
      flex-direction: column;
      align-items: center;
    }
    & > a {
      order: 0;
    }
  }
  nav.is-active {
    transform: scaleY(1);
  }
}
