@import "colors";

.form {
  padding-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .naslov {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i.material-icons {
      font-size: 2rem;
      color: $color-fg;
      cursor: pointer;
      &:hover {
        color: $color-fg-focus;
      }
    }
  }

  form {
    padding: 2rem;
    width:100%;   
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: $color-fg;

    h2 {
      padding: 1rem;
      color:$color-fg;
    }

    input, select, textarea {
      width: 100%;
      color: $color-fg;
      font-size: 1rem;
      background-color: $color-bg;
      border: none;
      padding: .5rem;
      margin:.5rem;
      border-bottom: $color-fg 1px solid;
      
    }

    textarea {
      border: $color-fg 1px solid;
      border-radius: .5rem;
    }

  }
}

::placeholder {
  color: $color-fg-focus;
}

#results{
  background-color:$color-card-bg;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem; 
  border-radius: .5rem;
  box-shadow: 2px 2px 7px $color-shadow;
  display: flex;
  flex-direction: column;
  &:empty{
    display: none;
  }
  
  span:last-of-type {
    border: none;
    padding-bottom: 0;
  }
}
#result {
  color: $color-fg;
  cursor: pointer;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px $color-bg solid;
  &:hover {
    color: $color-fg-focus;
  }
}