@import "colors";
@import "mixins";

.event {
  position: fixed;
  width: 100%;
  height: calc(100% - 6rem);
  top: 6rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: $color-fg;

  .main {
    display: flex;
    align-items: flex-start;

    i.material-icons {
      color: $color-fg;
      font-size: 5rem;
    }

    .body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2.5rem;

      .name {
        font-size: 4rem;
      }

      .price {
        font-size: 2rem;
      }
    }
    img {
      width: 600px;

      height: 400px;
      object-fit: cover;
      max-width: 100%;
      border-radius: 1rem;
    }
  }

  .about {
    margin-top: 2em;
    font-size: 1.5rem;
    line-height: 1.5;
    text-indent: 5rem;
  }
}
