@import "colors";
@import "mixins";

.search {
  padding-top: 10rem;
  display: flex;
  justify-content: center;

  input{
    font-size: 1.25rem;
    background: $color-bg;
    color: $color-fg;
    border: $color-fg-focus 2px solid;
    border-radius: .5rem;
    padding: .75rem;
    width: 20rem;
  }

  i.material-icons {
    color: $color-fg;
    background-color: $color-card-bg;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: .5rem;
    cursor: pointer;
  }
  
  .more {
    height: 300px;
    width: 300px;
    background-color: #fff;
    &.is-active {
      display: flex;
    }
  }
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  color: $color-fg;
  justify-content: center;

  .card {
    border-radius: 0.5rem;
    color: $color-fg;
    margin: 1rem;
    width: 100%;
    max-width: 350px;
    background-color: $color-card-bg;
    box-shadow: 7px 7px 20px $color-shadow;
    position: relative;
    transition: all 0.1s ease-in-out;

    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
      border-radius: 0.5em 0.5em 0 0;
    }

    i.material-icons {
      font-size: 1.75rem;
      padding: 0.5rem;
      background-color: $color-bg;
      border-radius: 50%;
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 10;
    }
    .body {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      margin-bottom: 3rem;
      * {
        @include unselectable;
      }

      .name {
        font-size: 2rem;
      }
    }
    .links {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 1rem;
      padding-right: 1rem;
      position: absolute;
      bottom: 0;
      .buy {
        border: $color-fg 1px solid;
        border-radius: 0.25rem;
        padding: 0.5rem;
      }
      a {
        color: $color-fg;
        text-decoration: none;
        &:hover {
          border-color: $color-fg-focus;
          color: $color-fg-focus;
        }

        &:focus {
          border-color: $color-primary;
          color: $color-primary;
        }
      }
    }

    &:hover {
      transform: scale(1.05);

      box-shadow: 7px 7px 35px $color-shadow;
    }
  }
}

a {
  color: $color-fg;
  text-decoration: none;
}

// <img src='{{ asset("image/" . $event->images[0]) }}' alt="">