$color-bg: var(--color-bg);
$color-card-bg: var(--color-card-bg);
$color-fg: var(--color-fg);
$color-fg-focus: var(--color-fg-focus);
$color-shadow: var(--color-shadow);
$color-primary: var(--color-primary);
